<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}

<!-- Variables -->
{% set loggedIn = false %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Enquiry Letter
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- Change the page title here -->
    <h1 class="nhsuk-heading-xl"><span class="nhsuk-caption-xl nhsuk-caption--bottom">Transforming Exemption Checking Service</span>Iteration history
    </h1>
    <!-- Add your content here -->

    <div class="nhsuk-grid-column-full">

      <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->
      <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
          <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Important
          </span>
        </h3>
        <p>Don't use any of this prototype code on production services, it doesn't adhere to development standards
          and is hacked together quickly and roughly.</p>
      </div>

      <hr>

      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-one-half">
          <h4>Postcode Screen Functionality</h3>

            <dl class="nhsuk-summary-list" style="font-size: medium;">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  DWP Journey:
                </dt>
                <dd class="nhsuk-summary-list__value">
                  NE1 3JA
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  NHSBSA Journey:
                </dt>
                <dd class="nhsuk-summary-list__value">
                  NE2 4XL
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  We cannot find your details:
                </dt>
                <dd class="nhsuk-summary-list__value">
                  WA4 1AB
                </dd>
              </div>
            </dl>
        </div>
        <div class="nhsuk-grid-column-one-half">
          <h4>Benefit Number Screen Functionality</h3>
            <dl class="nhsuk-summary-list" style="font-size: small;">
              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Number matched but to different personal details (we need to contact you):
                </dt>
                <dd class="nhsuk-summary-list__value">
                  contact
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  Number and details matched:
                </dt>
                <dd class="nhsuk-summary-list__value">
                  0123456789
                </dd>
              </div>

              <div class="nhsuk-summary-list__row">
                <dt class="nhsuk-summary-list__key">
                  We cannot confirm your details:
                </dt>
                <dd class="nhsuk-summary-list__value">
                  1234512345
                </dd>
              </div>
            </dl>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            V5 Enquiry Journey PECS
          </h3>
          <p class="nhsuk-card__description nhsuk-u-margin-bottom-5">An online service to challenge an enquiry
            letter.</p>

          <a class="nhsuk-button" href="v5-enquiry/respond-to-your-letter">Start Journey</a>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="enquiry">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>

                  <span class="nhsuk-action-link__text">Enquiry Letter Iteration History</span>
                </a>
              </div>
            </div>
            </a>
          </div>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            V5 Enquiry Journey DECS
          </h3>
          <p class="nhsuk-card__description nhsuk-u-margin-bottom-5">An online service to challenge an enquiry
            letter.</p>

          <a class="nhsuk-button" href="v5-enquiry-decs/respond-to-your-letter">Start Journey</a>
          <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
              <div class="nhsuk-action-link">
                <a class="nhsuk-action-link__link" href="enquiry">
                  <svg class="nhsuk-icon nhsuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path
                      d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">
                    </path>
                  </svg>

                  <span class="nhsuk-action-link__text">Enquiry Letter Iteration History</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            V6 Penalty Charge Notice Journey PECS
          </h3>
          <p class="nhsuk-card__description nhsuk-u-margin-bottom-5">An online service to challenge or pay a PCN.
          </p>
          <a class="nhsuk-button" href="v6-pcn/respond-to-your-letter">Start journey</a>

          <hr>

          <h4>February 2025 UR Journey</h4>

          <p>Journey focusses on a Direct Debit unhappy path, to gain feedback on the "we could not verify" and
            "we still could not verify" screens, as well as the Direct Debit "done" page with new content.</p>
          <p>To access these pages, on the "Enter your bank details" screen use the account number
            <strong>12345679</strong>.
          </p>
          <p>This version also implements much more dynamic features and error messaging and could serve as a base
            for a v7 prototype.</p>
          <p class="nhsuk-u-margin-bottom-0"><a class="nhsuk-button nhsuk-u-margin-bottom-2"
              href="user-research-feb-2025/respond-to-your-letter" role="button">Start UR journey</a></p>
        </div>
      </div>

      <div class="nhsuk-card">
        <div class="nhsuk-card__content">
          <h3 class="nhsuk-card__heading">
            V6 Penalty Charge Notice Journey DECS
          </h3>
          <p class="nhsuk-card__description nhsuk-u-margin-bottom-5">An online service to challenge or pay a PCN.
          </p>
          <a class="nhsuk-button" href="v6-pcn-decs/respond-to-your-letter">Start Journey</a>

        </div>
      </div>

    </div>

    <!-- Styles and components can be found at https://beta.nhs.uk/service-manual/styles-components-patterns -->


    <hr>
    <h2 class="nhsuk-heading-m">ADHOC Screens</h2>
    <p>Kickout screens, end pages and error messages, not found in the user journey.</p>
    {{ actionLink({
    text: "ADHOC Screens",
    href: "adhoc"
    }) }}
    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Version 5 - Private Beta - (21/03/2023)</small></span>
      </summary>



      <div class="nhsuk-details__text">

        <h2>Prototype Functionality</h2>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              DWP Journey:
            </dt>
            <dd class="nhsuk-summary-list__value">
              NE1 3JA
            </dd>



          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              NHSBSA Journey:
            </dt>
            <dd class="nhsuk-summary-list__value">
              NE2 4XL
            </dd>



          </div>



          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              We cannot find your details:
            </dt>
            <dd class="nhsuk-summary-list__value">
              WA4 1AB

            </dd>



          </div>

        </dl>

        <h2 class="nhsuk-heading-l">Hypothesis A

        </h2>

        <p style="background: #DEE0E2; padding: 20px;">We believe by adding in content or a page around why the user
          cannot pay at the enquiry stage of the journey will help the user understand that they will have to wait until
          they get a PCN.
          This is in hopes to cause less frustration and confusion. We understand from our CSAT results that this is one
          of the biggest issues the user faces with this journey.</p>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">


          <li>We have added a new iteration of the filter page to this prototype which asks users whether they want
            to pay, confirm their entitlement or try to see if they have an exemption if they are not sure. If they
            select pay it will give the user a kickout screen explaining
            why they cannot pay. If they select confirm their entitlement or im not sure it will take them through the
            rest of the
            journey.</li>

        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>TESTING TO GO HERE</li>



        </ul>
        <hr>

        <a class="nhsuk-button" href="v5-enquiry/respond-to-your-letter">Respond to your letter</a>



      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Version 4 - Private Beta - (06/03/2023)</small></span>
      </summary>



      <div class="nhsuk-details__text">

        <h2>Prototype Functionality</h2>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              DWP Journey:
            </dt>
            <dd class="nhsuk-summary-list__value">
              NE1 3JA
            </dd>



          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              NHSBSA Journey:
            </dt>
            <dd class="nhsuk-summary-list__value">
              NE2 4XL
            </dd>



          </div>



          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              We cannot find your details:
            </dt>
            <dd class="nhsuk-summary-list__value">
              WA4 1AB

            </dd>



          </div>

        </dl>

        <h2 class="nhsuk-heading-l">Hypothesis A

        </h2>

        <p style="background: #DEE0E2; padding: 20px;">We believe by adding in content or a page around why the user
          cannot pay at the enquiry stage of the journey will help the user understand that they will have to wait until
          they get a PCN.
          This is in hopes to cause less frustration and confusion. We understand from our CSAT results that this is one
          of the biggest issues the user faces with this journey.</p>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>For this journey we have made a couple of changes to the journey we removed some of the personal details
            pages such as Is this how your name was written on your [Benefit]? As well as the date of birth and address
            question which follows after that page. Instead the journey now just has a check your details page where the
            user can change their details at this point if they need to. This was to shorten the journey for the user.
          </li>
          <li>We have added one journey to this prototype which asks users on the enquiry letter page whether they want
            to pay or confirm their entitlement. If they select pay it will give the user a kickout screen explaining
            why they cannot pay. If they select confirm their entitlement it will take them through the rest of the
            journey.</li>

        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>For this round of research too we are going to add in some AB testing around why users can't pay at the
            enquiry stage we are going to do AB testing with the confirm your entitlement or pay screen against some
            extra content on the what happens next screen</li>


          <li>We also want to find out if the shortened journey of the check your details screen works for the user</li>

          <li>We plan to find out more around the service name and if users understand it</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v4/respond-to-your-letter">Respond to your letter</a>



      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Version 3 - Private Beta - (27/2/2023)</small></span>
      </summary>



      <div class="nhsuk-details__text">

        <h2>Prototype Functionality</h2>

        <dl class="nhsuk-summary-list">

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              DWP Journey:
            </dt>
            <dd class="nhsuk-summary-list__value">
              NE1 3JA
            </dd>



          </div>

          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              NHSBSA Journey:
            </dt>
            <dd class="nhsuk-summary-list__value">
              NE2 4XL
            </dd>



          </div>



          <div class="nhsuk-summary-list__row">
            <dt class="nhsuk-summary-list__key">
              We cannot find your details:
            </dt>
            <dd class="nhsuk-summary-list__value">
              WA4 1AB

            </dd>



          </div>

        </dl>

        <h2 class="nhsuk-heading-l">Hypothesis A

        </h2>

        <p style="background: #DEE0E2; padding: 20px;">We are going to be testing this prototype with users. The design
          has been updated to be inline with GDS as well as the content which has been review by the content designer on
          our team.</p>

        <hr>

        <h3 class="nhsuk-heading-m">What we created:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>We updated the challenge journey with the new NHS toolkit, removing old components that weren't inline
            with GDS. We have done a content review and placed in content to keep inline with GDS. We have removed an
            error screen from the journey as it was deemed unessescary and added a screen around the benefit number.
          </li>


        </ul>
        <h3 class="nhsuk-heading-m">What we plan to test:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>We plan to test the whole journey to get feedback on the pages</li>
          <li>We want to focus on the "respond to your letter page", the kickout screens, confirmation page and the
            "enquiry letter details" screen</li>
        </ul>
        <h3 class="nhsuk-heading-m">What we found:</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>We found people generally found the journey simple and easy</li>
          <li>Users found the journey a recognisable service and the content self expanitory</li>
          <li>One of the users found the questions around their details quite tedious before they get to their check
            your details page</li>
          <li>Another user found the yellow warning callout box a little stressful and could cause anxiety to some
            people</li>
        </ul>
        <h3 class="nhsuk-heading-m">Any known issues?</h3>
        <ul class="nhsuk-list nhsuk-list--bullet">
          <li>...</li>
        </ul>
        <hr>

        <a class="nhsuk-button" href="v3/respond-to-your-letter">Respond to your letter</a>



      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-5">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Version 2</small></span>
      </summary>
      <div class="nhsuk-details__text">

      </div>
    </details>

    <details class="nhsuk-details nhsuk-expander nhsuk-u-margin-bottom-0">
      <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text"><small>Version 1</small></span>
      </summary>
      <div class="nhsuk-details__text">

      </div>
    </details>

  </div>
</div>
{% endblock %}